<body>
  <div class="container">
<div id="background">
 <div class='row'>
<div class='span7'>
<div class='text-box'>
<h1>Learn about Us</h1>
</div>
</div>
</div>
<div class='row'>
<div class='span6 offset6'>
<div class='caption'>
<div class='text-box'>
<h4>Join our Site</h4>
<p>
Lorem ipsum
</p>
<p>
Here is some sample text...
<a href="/" target="_blank">and link</a>
.
</p>
<p>
You should join!
</p>
<div class='join'>
<a href="/" class="btn-large btn-primary"> Sign Up (it's free)</a>
</div>
</div>
</div>
</div>
</div>
</div>


<div class="white-background">
<h1> How it Works </h1>
<h3>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam nec urna a nibh 
elementum sodales luctus at lectus. Sed ut ipsum sapien, sodales tincidunt diam. 
Sed faucibus tristique diam, malesuada cursus ipsum mollis pellentesque. Vivamus 
dignissim lacinia fringilla. Curabitur fermentum commodo porttitor. Vestibulum sed 
augue risus, at lobortis nisi. Maecenas vel mauris ac sem vehicula vulputate. 
Vestibulum et arcu eu nisl rhoncus ullamcorper ut in lorem. Vivamus ornare magna ac
nulla molestie eget eleifend lacus ornare. Pellentesque vitae magna ac lorem ornare
tempus. Suspendisse suscipit porta nunc, tristique pellentesque ipsum accumsan a. 
Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis 
egestas. Sed laoreet orci vel augue ornare vestibulum.

Phasellus rhoncus cursus quam nec commodo. Suspendisse et dui dui, ultrices mattis velit.
In scelerisque quam eu ante vulputate feugiat eget condimentum ante. Nunc laoreet massa 
odio, dictum lobortis ante. Ut fringilla commodo scelerisque. Aliquam auctor gravida 
purus id gravida. Aliquam a leo arcu. Integer sit amet urna dui, non mattis diam. Cras
congue libero gravida sapien pharetra blandit pretium ipsum vulputate. Proin aliquam 
congue aliquet. In mauris mauris, fermentum sit amet ullamcorper a, fermentum at nibh.
Sed sit amet tellus lorem, id luctus dui.
</h3>
</div>

<div class="white-background">
<h1> Who's it for? </h1>
<h3>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam nec urna a nibh 
elementum sodales luctus at lectus. Sed ut ipsum sapien, sodales tincidunt diam. 
Sed faucibus tristique diam, malesuada cursus ipsum mollis pellentesque. Vivamus 
dignissim lacinia fringilla. Curabitur fermentum commodo porttitor. Vestibulum sed 
augue risus, at lobortis nisi. Maecenas vel mauris ac sem vehicula vulputate. 
Vestibulum et arcu eu nisl rhoncus ullamcorper ut in lorem. Vivamus ornare magna ac
nulla molestie eget eleifend lacus ornare. Pellentesque vitae magna ac lorem ornare
tempus. Suspendisse suscipit porta nunc, tristique pellentesque ipsum accumsan a. 
Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis 
egestas. Sed laoreet orci vel augue ornare vestibulum.

Phasellus rhoncus cursus quam nec commodo. Suspendisse et dui dui, ultrices mattis velit.
In scelerisque quam eu ante vulputate feugiat eget condimentum ante. Nunc laoreet massa 
odio, dictum lobortis ante. Ut fringilla commodo scelerisque. Aliquam auctor gravida 
purus id gravida. Aliquam a leo arcu. Integer sit amet urna dui, non mattis diam. Cras
congue libero gravida sapien pharetra blandit pretium ipsum vulputate. Proin aliquam 
congue aliquet. In mauris mauris, fermentum sit amet ullamcorper a, fermentum at nibh.
Sed sit amet tellus lorem, id luctus dui.
</h3>
</div>
<div class="white-background">
<h1> What it costs? </h1>
<h3>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam nec urna a nibh 
elementum sodales luctus at lectus. Sed ut ipsum sapien, sodales tincidunt diam. 
Sed faucibus tristique diam, malesuada cursus ipsum mollis pellentesque. Vivamus 
dignissim lacinia fringilla. Curabitur fermentum commodo porttitor. Vestibulum sed 
augue risus, at lobortis nisi. Maecenas vel mauris ac sem vehicula vulputate. 
Vestibulum et arcu eu nisl rhoncus ullamcorper ut in lorem. Vivamus ornare magna ac
nulla molestie eget eleifend lacus ornare. Pellentesque vitae magna ac lorem ornare
tempus. Suspendisse suscipit porta nunc, tristique pellentesque ipsum accumsan a. 
Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis 
egestas. Sed laoreet orci vel augue ornare vestibulum.

Phasellus rhoncus cursus quam nec commodo. Suspendisse et dui dui, ultrices mattis velit.
In scelerisque quam eu ante vulputate feugiat eget condimentum ante. Nunc laoreet massa 
odio, dictum lobortis ante. Ut fringilla commodo scelerisque. Aliquam auctor gravida 
purus id gravida. Aliquam a leo arcu. Integer sit amet urna dui, non mattis diam. Cras
congue libero gravida sapien pharetra blandit pretium ipsum vulputate. Proin aliquam 
congue aliquet. In mauris mauris, fermentum sit amet ullamcorper a, fermentum at nibh.
Sed sit amet tellus lorem, id luctus dui.
</h3>
</div>
</div>
</body>