<div id='content'><div class='row'>
<div class='span3'>
<div class='white-background-narrow'>
<ul class='nav nav-list static'>
<li><h4>Your Actions</h4></li>
<li><a href="/how_this_works">How This Works</a></li>
<li><a href="/team">Team</a></li>
<li><a href="/ambassadors">Ambassadors</a></li>
<li><a href="http://support.vayable.com/">Help</a></li>
<li><a href="/press">Press</a></li>
<li><a href="/jobs">Jobs</a></li>
<li><a href="/contact">Contact</a></li>
</ul>
</div>
</div>
<div class='span9'>
<div class='container'>
<!-- 
<div id='background'>
<div class='row'>
<div class='span5'>
<div class='text-box'>
<h1>Success Story</h1>
</div>
</div>
</div>
<div class='row'>
<div class='span3 offset6'>
<div class='caption'>
<h4>Kachina G.</h4>
<p>Recently purchased a stunning dressage horse, TJ.</p>
</div>
</div>
</div>
</div>
-->
</div>
</div>
<div class='span9'>
<div class='white-background'>
<h2>Welcome to our site! This is your dashboard</h2>

<h3>
MyEquiCentre is a place for you to come and browse the best horse classifieds online. 

</h3>
<li class='divider-horizontal'></li>
<h1>Your Horses for Sale</h1>
<li class='divider-horizontal'></li>

<div class='row-fluid'>
<div class='span4'>
<img alt="Horse 1" src="/images/horse/small_image.png" />
</div>
<div class='span8'>
<p>
Description of horse...

<p><a href="/show">View Ad</a>  &nbsp;&nbsp;&nbsp;&nbsp;
<a href="/edit">Edit</a>     &nbsp;&nbsp;&nbsp;&nbsp;
<a href="/delete">Delete</a>
</p>
<li class='divider-horizontal'></li>

</p>
  <button class="btn btn-large btn-primary" type="button">Add New Horse</button>

</div>
</div>

</div>
</div>
</div></div>
