<!-- This is where messages are edited. Only used if messages are saved as drafts. -->
<h1>Editing message</h1>

<%= render 'form' %>

<%= link_to 'Show', user_message_path(@user) %> |
<%= link_to 'Back', user_messages_path(@user) %>
