<!-- This is where messages are edited. Only used if messages are saved as drafts. -->
<h1>Editing message</h1>

<%= render 'form' %>

<%= link_to 'Show', @message %> |
<%= link_to 'Back', messages_path %>
