
<p id="notice"><%= notice %></p>
<div class="white-background">
<h2>Update <%= current_user.horses.find(params[:id]).name %>'s Listing</h2>

<%= render 'form' %>
<%= render 'videos/form', :horse => @horse %>

</div>
