<p id="notice"><%= notice %></p>
       
    <div class="search">
        <%= render 'horses/search' %>
    </div>
    
    <div id="search-results">
        <%= render 'horses/search_results' %>
    </div>