<p id="notice"><%= notice %></p>
    
    <div id="search-form">
        <%= render 'horses/search_form' %>
    </div>
    
    <div id="search-results">
        <%= render 'horses/search_results' %>
    </div>