<div id="enter-password" class="modal" style="display: none;">
        <div class="modal-header">
          <a class="close" data-dismiss="modal">&#215;</a>
        <h2>Confirm Password</h2>
        </div>

        <div class="modal-body">    
        <p>Enter your current password to confirm changes: </p>
        </div>
  
  <div class="modal-footer">
  <div class="actions">
    <a class="btn" data-dismiss="modal" href="#">Cancel</a>
  </div>
  </div>
<% end %>

</div>
        