<div class="white-background">
<h1> Welcome to our site! </h1>
<h3>Here are the users on the site:</h3> 
<%= link_to "Users", users_path %>


<h3> 
Welcome to EquiCentre.com!
</h3>
<h3>
Feel free to look around.
</h3>

</div>
