<script>
  $(function () {
    document.getElementById('map-results').style.visibility = 'hidden'; 
    document.getElementById('map-results').style.height = '0'; 
    document.getElementById('map-results').style.overflow = 'hidden'; 
    $('#myTab a:first').tab('show');
    $('#myTab a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
    document.getElementById('map-results').style.visibility = 'visible'; 
    document.getElementById('map-results').style.overflow = 'visible'; 
  })
    $('#myTab a:first').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
    document.getElementById('map-results').style.visibility = 'hidden'; 
    document.getElementById('map-results').style.overflow = 'hidden'; 
    //$('#myTab').load($('li.active a[data-toggle="tab"]').attr('href'));
  })
})
</script>

<p id="notice"><%= notice %></p>
 
<div id="search-form">
    <%= render 'users/search_professional_form' %>
</div>

<ul class="nav nav-tabs"  id="myTab">
  <li><a href="#search-results">List View</a></li>
  <li><a href="#map-results">Map View</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane" id="search-results">
        <%= render 'users/search_professional_results' %>
    </div>
    
    <div id="map-results">
    <div class="row">
        <div class="span9">
        <%= gmaps(:map_options => {:do_clustering => false}, :markers => {:data => @json, :options => {:list_container => "markers_list" } }) %>
        </div>
        <div class="span2">
        <div id="inner">
        <h4> Professionals </h4>
        <ul id="markers_list"></ul>
        </div>
        </div>
    </div>
    </div>
</div>