<!-- This is the user dashboard page. -->
<div class='white-background'>
<div class='center-align'>
<h4>Welcome <%= @user.name %>, to your private dashboard!</h4>
<h3>
This is the place for you to keep track of your listings and your favorite horses from our site. 
</h3>
</div>
</div>

<% if true %>
<%= render 'saved_horses' %>
<% end %>

<% if true %>
<%= render 'horse_listings' %>
<% end %>

<% active_horses = @user.horses.where(:sale_status => "active").first%>
<% if active_horses.present? %>
<%= render 'sales_barn' %>
<% end %>
