<!-- The newsletter signup form for the EquiCentre mailing list --> 
<!-- Begin MailChimp Signup Form -->
<div class="center-align">
<div id="mc_embed_signup">
<form action="http://daedalusinnovation.us5.list-manage1.com/subscribe/post?u=6b599f220526ed76b813b95c9&amp;id=c5917e2e5d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate horizontal" target="_blank" novalidate>
	<h4>Subscribe to our mailing list: </h4>
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
	<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-mini btn-info">
</form>
</div>
</div>
<!-- End mc_embed_signup -->