<!-- This is the homepage! -->

<!-- This renders the home carousel that shows horse images from the site. -->
<%= render 'carousel' %>

<!-- This is the page content-->
<div class="white-background center-align">
<h1> Welcome to MyEquiCentre </h1>
<h3>The most beautiful and elegant site available for selling and buying horses online.</h3>

<!-- For users that are logged in --> 
<% if user_signed_in? %>
    <h3>Go to your dashboard to manage your account or begin 
    <%= link_to 'browsing our horses', '/horses/search' %>...</h3>
<!-- For users that aren't logged in --> 
<% else %>
    <h3>Browse the site as you please, or sign up for a free account to post your own horses.</h3>
    <%= link_to "Sign Up (it's free)", new_user_registration_path, :class => "btn btn-primary
    btn-large" %>
    
    <!-- The newsletter signup form for the EquiCentre mailing list --> 
    <%= render 'newletter_signup' %>
<%end%>
</div>
