<!-- This is the homepage! -->

<!-- This renders the home carousel that shows horse images from the site. -->
<%= render 'carousel' %>

<!-- This is the page content-->
<div class="white-background center-align">
<h1> Welcome to MyEquiCentre </h1>
<h3>The most beautiful and elegant site available for selling and buying horses online.</h3>

<!-- For users that are logged in --> 
<% if user_signed_in? %>
    <h3>Go to your dashboard to manage your account or begin 
    <%= link_to 'browsing our horses', '/horses/search' %>...</h3>
<!-- For users that aren't logged in --> 
<% else %>
    <h3>Browse the site as you please, or sign up for a free account to post your own horses.</h3>
    <%= link_to "Sign Up (it's free)", new_user_registration_path, :class => "btn btn-primary
    btn-large" %>
    
    <!-- The newsletter signup form for the EquiCentre mailing list --> 
<!-- The newsletter signup form for the EquiCentre mailing list --> 
<!-- Begin MailChimp Signup Form -->
<div class="center-align">
<div id="mc_embed_signup">
<form action="http://daedalusinnovation.us5.list-manage1.com/subscribe/post?u=6b599f220526ed76b813b95c9&amp;id=c5917e2e5d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate horizontal" target="_blank" novalidate>
	<h4>Subscribe to our mailing list: </h4>
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
	<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-mini btn-info">
</form>
</div>
</div>
<!-- End mc_embed_signup -->
<%end%>
</div>
