<div class="row">
<div class='span5'>
<b>What does it mean to activate my listing?</b>
<p>
If you have created a new horse listing you will notice that it does not show up outside of 
the horse listing section of your dashboard. It will not appear in search results and be 
publicly accessible until you activate the account. Until then you can only view the listing
when you click on the preview button next to your horse's name. 
</p>
</div>

<div class='span5'>
<b>How to activate/deactivate my horse listing?</b>
<p>
There is an activate/deactivate button under the horse listings section. Do not click this 
button until you are ready to be charged for an active listing. Cost is $9.99 as described
above.
</p>
</div>
</div>

<!--
<div class="row">
<div class='span5'>
<b>I accidently deleted my horse listing</b>
<b>what do I do?</b>
<p>
If you deleted rather than deactivated your horse listing you will have to create it again
from scratch. Click on the create a horse button to repeat the process of creating your listing.
</p>
</div>

<div class='span5'>
<b>Question</b>
<p>
Answer</p>
</div>
</div>
-->
