<div class='row' id='perk-list'>
<div class='span2'>&nbsp;</div>
<div class='span4 clearfix'>
    <ul class='unstyled column'>
        <li>
        <i class='icon-star-empty'></i>
        Competitive salary & meaningful equity
        </li>
        <li>
        <i class='icon-plus-sign'></i>
        Medical, dental, & vision insurance
        </li>
        <li>
        <i class='icon-leaf'></i>
        Breakfast, lunch & snacks
        </li>
        <li>
        <i class='icon-bell'></i>
        Free yoga and meditation classes</li>
    </ul>
</div>
<div class='span4 clearfix'>
    <ul class='unstyled column'>
        <li>
        <i class='icon-headphones'></i>
        Build your ideal work environment
        </li>
        <li>
        <i class='icon-time'></i>
        Flexible work hours
        </li>
        <li>
        <i class='icon-plane'></i>
        Flexible location requirements
        </li>
        <li>
        <i class='icon-heart'></i>
        Massages in the office
        </li>
    </ul>
</div>
</div>
