<div class="row">
<div class='span5'>
<b>Where do I enter my credit card information?</b>
<p>
When you first attempt to activate your account you will be requested to enter your credit
card information. Our system does not store your credit card details but will remember that 
you entered valid payment information and will not request it again. You can continue to
activate the rest of the listings on your account without any hassle. You can also enter your
credit card information under the edit account link.
</p>
</div>

<div class='span5'>
<b>I need to edit or update my credit card information.</b>
<p>
If you need to edit or update your credit card information you will need to go to the link
to edit your account. Under the section on billing information you will be given further
instructions on how to update your information. We will remove your other card details from
our system. You will be charged on the new card for any existing active horse listings.
</p>
</div>
</div>

<div class="row">
<div class='span5'>
<b>What are premium listings and how much do they cost?</b>
<p>
A premium listing is a listing that gets extra visibility on the homepage slideshow. If you
are interested in paying to get your horse featured on the slideshow you will have to contact
us directly to discuss details.
</p>
</div>

<div class='span5'>
<b>Can I pay to get preferred rankings in search results?</b>
<p>
We believe that all horses deserve visibility in search results and we only give preference
to those horse owners who have made the effort to make valuable information, such as 
competition history and pedigree, available to the horse seekers.
</p>
</div>
</div>