<div class="row">
<div class='span5'>
<b>What services does MyEquiCentre provide?</b>
<p>
MyEquiCentre is the most professional and elegant horse classifieds website serving the 
equestrian community. For horse owners, we provide affordable listings with multiple photos 
and video (coming soon!) at no additional cost. For horse seekers, we provide a place to 
save your favorite horses. Sounds simple but that's not all. Check out our
features page to learn more about what we hope to deliver to you.
</p>
</div>

<div class='span5'>
<b>How much does it cost?</b>
<p>
As a horse seeker it's free to sign up to use the site to browse horses. If you are selling 
horses the cost per listing is $9.99 a month. We begin charging when you activate your horse
listing and stop charging when you deactivate your listing. Expenses are pro-rated so if you
sell a horse and deactivate your account you will not be charged for the remaining days in 
the month. 
</p>
</div>
</div>

<!--
<div class="row">
<div class='span5'>
<b>How to favorite horses?</b>
<p>
You can add horses to your favorites from the horse listing page if you are signed in. 
In the future you will be able to add horses to your favorites from the search results page. 
You can manage saved horses from your own personal dashboard.
</p>
</div>
</div>
-->