<div class='row-fluid'>
<div class='span12'>
<div class='job' id='marketing-intern'>
<h2>Marketing Intern</h2>
<p>
An opportunity for anyone with a passion for horses and deep knowledge of the industry. 
You will be given responsiblity to design and implement online and offline marketing 
initiatives to grow our brand awareness. Must have an intimate understanding of our 
customers, their needs and desires, to be able to market around delivering a high-quality 
experience sell or purchase horses online. Valuable traits include being proactive, 
resourceful, both detail and process-oriented, and a get-it-done attitude. 
Passionate about the product and experience with horses is a must!
</p>
<h3>Talents and skills:</h3>
<ul>
<li>Communicating complex ideas succinctly</li>
<li>Understanding customer values and needs</li>
</ul>
<h3>Requirements:</h3>
<ul>
<li>Experience with online and offline marketing campaigns</li>
<li>Experience selling and purchasing horses</li>
<li>Passion about MyEquiCentre services</li>
</ul>
<div class='center-align'>
<p>
Send a resume to <a href="mailto:internships@myequicentre.com">internships@myequicentre.com</a> to apply.
</p>
<a class="btn btn-primary btn-info" href="mailto:internships@myequicentre.com">Apply Now</a>
</div>
</div>
</div>
</div>