<div class="row">
<div class='span5'>
<b>How can MyEquiCentre help me market my horse?</b>
<p>
We provide the best experience for horse owners and seekers to search and view horses online. 
We integrate social media links into each of the horse listing pages and many of our users 
will be sharing and tweeting about their favorite horses on the site. We also provide
premium advertising on our homepage. Please contact us for more details about how to get 
your horse in the slideshow on the homepage and in front of all our users.
</p>
</div>

<div class='span5'>
<b>How can I use social media to promote my horse?</b>
<p>
Social media is a great way to communicate that you have a horse available for sale. To 
start make sure that you share your listing with your friends on facebook of tweet via
twitter. However, social media doesn't take the work out of marketing. Do your research
to make sure to leverage your time on social networks.
</p>
</div>
</div>