<div class='row'>
<div class='span12'>
<div class='job' id='operations'>
<h2>Operations Manager</h2>
<p>
MyEquiCentre is looking for talented Operations Manager to be responsible
for creating, building and growing acquisition and retention strategies
that connect travelers and guides together on MyEquiCentre. This is an
amazing opportunity to get in on the ground floor of a fast-growing
Silicon Valley Startup and to take on an integral role in the marketing
and growth of the business.
</p>
<p>
This position is a unique opportunity to lead company operations and
working alongside the CEO to craft high-leverage and scalable
solutions that enable the most people to connect on our platform.
</p>
<p>
The ideal candidate is quantitative and analytical with a strong
business background, is motivated, detail-oriented, and excited to
bring large numbers of people together on our platform. You must
also be strategic as well as tactical in your approach toward the
business and share a deep passion for the product and community.
</p>
<h3>You're good at and enjoy:</h3>
<ul>
<li>Building, managing and optimizing effective marketing strategies</li>
<li>Organization. It’s your middle name.</li>
<li>Developing and facilitating growth initiatives</li>
<li>Developing and implementing data-driven strategies</li>
<li>Working in a dynamic startup environment</li>
<li>Setting and exceeding aggressive goals</li>
<li>Identifying and building strategic partnerships</li>
</ul>
<h3>Requirements:</h3>
<ul>
<li>2-5 years of tactical operations or marketing management experience</li>
<li>Experience building models and funnels</li>
<li>Self-starter with excellent collaboration and leadership skills</li>
<li>Ability to direct and empower a team</li>
<li>Excellent written and verbal communication skills</li>
<li>Strong knowledge of SEO and SEM</li>
<li>Experience with online marketing and measuring ROI</li>
<li>Strong entrepreneurial background and proven track record</li>
</ul>
<p>
To apply, send a resume and cover letter to <a href="mailto:jobs@MyEquiCentre.com">jobs@MyEquiCentre.com</a>.
</p>
<a class="btn btn-large btn-info" href="mailto:jobs@MyEquiCentre.com">Apply Now</a>
</div>
</div>
</div>