<div class='row'>
<div class='span12'>
<div class='job' id='photography-intern'>
<h2>Photography Intern</h2>
<p>
Here’s your chance to get educate our users on how to create stunning professional 
photographs capturing the spirit of their horses. Hands-on experience shooting photos that
capture the spirit and imagery MyEquiCentre. We’re looking for photographers
with an eye for detail and a knack for capturing emotion to tell the
story of the uniqueness of MyEquiCentre’s experiences. You will be
responsible for coordinating photo shoots with tour guides,
photographing experiences, editing photos and uploading them onto
the site.
</p>
<h3>You're good at and enjoy:</h3>
<ul>
<li>Documentary, editorial and travel styles of photography</li>
<li>Spending time with people and building community</li>
<li>You know how to make photos “pop.”</li>
<li>You’re a pro at going with the flow</li>
<li>Dependability. It’s what you’re known for.</li>
</ul>
<h3>Requirements:</h3>
<ul>
<li>Portfolio</li>
<li>BA or BFA degree preferred; work experience can substitute for the degree.</li>
</ul>
<p>
Send a resume to <a href="mailto:internships+photogaphy@MyEquiCentre.com">internships+photogaphy@MyEquiCentre.com</a> to apply.
</p>
<a class="btn btn-info" href="mailto:internships+photography@MyEquiCentre.com">Apply Now</a>
</div>
</div>
</div>