<div class='row-fluid'>
<div class='span12'>
<div class='job' id='sales-intern'>
<h2>Sales Intern</h2>
<p>
An amazing opportunity for anyone looking to get in on the ground floor of a fast-growing 
equestrian startup. You will be responsible for building our community and local partnerships.
You must have the endurance and empathy to make sales and an amiable disposition. Comfort
cold calling and emailing strangers is a must. You must be passionate about the product, 
but even more passionate about the people who use it. You are our eyes and ears to learning 
about how people respond to our product. Beyond making sales you will be expected to translate 
that experience and knowledge into suggestions for improvements and advanced features. 
</p>
<h3>Talents and Skills:</h3>
<ul>
<li>Building and maintaining genuine relationships</li>
<li>Communicating in a clear and empathetic way</li>
<li>Translate customer needs into new product features</li>
<li>Willingness to speak up</li>
</ul>
<h3>Requirements:</h3>
<ul>
<li>Prior sales or marketing experience</li>
<li>BA degree preferred; work experience can substitute for the degree.</li>
</ul>
<div class='center-align'>
<p>
Send a resume to <a href="mailto:internships@myequicentre.com">internships@myequicentre.com</a> to apply.
</p>
<a class="btn btn-primary btn-info" href="mailto:internships@myequicentre.com">Apply Now</a>
</div>
</div>
</div>
</div>