<div class='row'>
<div class='span12'>
<div class='job' id='engineer'>
<h2>Software Engineer</h2>
<p>
We're seeking generalist software engineers who are excited about the prospect of 
revolutionizing the equine industry and providing services to the equestrian 
community. You'll work closely with the founders on every part of
the site, deploy daily, iterate quickly, and measure absolutely everything.
</p>
<p>
We don't believe in breaking down engineering roles into
&ldquo;front-end&rdquo; or &ldquo;back-end&rdquo; distinctions &mdash; if
you're working on the website, you'll be expected to know (or learn)
whatever it takes to get the job done. It's important that you are
familiar with Ruby, Python or another dynamic language (we use Ruby/Rails),
as well as HTML, CSS, Javascript, and other core web technologies.
</p>
<h3>Requirements:</h3>
<ul>
<li>BS in Computer Science or similar engineering field</li>
<li>A strong programming background and passion for learning</li>
<li>Demonstrated expertise in at least one programming language (preference for Ruby-on-Rails)</li>
<li>Experience building websites from scratch and shipping real products</li>
<li>Capable of accepting responsibility as demonstrated by working alone and as part of a team</li>
<li>Great communication skills especially when times get tough</li>
</ul>
<div class='center-align'>
<p>
To apply, send a resume, portfolio and a cover letter to: <a href="mailto:jobs@myequicentre.com">jobs@myequicentre.com</a>.
<br>
Please include links to your github account, open-source and personal projects.
</br>
</p>
<a class="btn btn-primary btn-info" href="mailto:jobs@myequicentre.com">Apply Now</a>
</div>
</div>
</div>
</div>