<div class='job' id='designer'>
<h2>UI/UX Designer</h2>
<p>
We're looking for a talented UI/UX designer who has an eye for professional and elegant
design to join our team. We want you develop a product interface is stunningly beautiful, 
yet simple and intuitive for our users to navigate. It's great to have a strong personal 
aesthetic but also the ability to be flexible and respond to the needs of our users. 
Ability to tell a story can be translated into pixels and you're not afraid to adapt your
code to meet cross-browser and mobile device requirements.
</p>
<h3>Talents and Skills:</h3>
<ul>
<li>Crafting a visual narrative of a product</li>
<li>UX storyboarding and prototyping</li>
<li>UI design and implementation</li>
<li>Creating user and analytics-driven designs</li>
<li>Shipping products</li>
</ul>
<h3>Requirements:</h3>
<ul>
<li>Prior experience in developing for the web and/or mobile</li>
<li>A strong portfolio demonstrating skill across graphics, typography,
photography, user interaction </li>
<li>Familiarity with front-end web development: HTML/CSS/JQuery</li>
<li>Experience with developing from cross-browser compatibility</li>
<li>Portfolio and strong references</li>
</ul>
<div class='center-align'>
<p>
To apply, send a resume and portfolio to <a href="mailto:jobs@myequicentre.com">jobs@myequicentre.com</a>.
</p>
<a class="btn btn-primary btn-info" href="mailto:jobs@myequicentre.com">Apply Now</a>
</div>
</div>

