<div class="row">
<div class='span5'>
<b>Can I contact anyone through my message center?</b>
<p>
You can only contact members of our site who are in your contact list. You cannot to look 
up users on our site in order to contact them. If you would like to message a member who 
is not in your list you will have to contact them from one of their horse listings or their 
profile page.
</p>
</div>

<div class='span5'>
<b>How do I add someone to my contacts list?</b>
<p>
Only those people who have sent an email to you get added to your contacts list. That means
that in order to contact a new person you need to go to their profile page or their horse listings
to send them a message again. Once they respond to your message they will be added to your 
contacts list so that you can message them at anytime.
</p>
</div>
</div>


<div class="row">
<div class='span5'>
<b>How do I remove myself from someone's contact's list?</b>
<p>
Right now the capability to remove yourself from a user's contact list or to block them is
not available. You can remove people from your own contacts.
</p>
</div>

<div class='span5'>
</div>
</div>


