<div class="white-background">
<h1> About this Site </h1>
<h3>
We have found the quality of horse classifieds ads sites to be lacking, so we decided to 
create this site as a place for horse owners and enthusiasts to come and browse stunningly 
beautiful horse ads in search for the horse of their dreams. We hope to provide a simple 
and intuitive experience while giving you access to some of the best horses on the web.
</h3>
<h3>

</h3>
<h4>
Kachina Gosselin
</h4>
<h3>
Graduated from MIT class of 2010 with a bachelors in aeronautics and astronautics.
She runs a software development firm Daedalus Innovation, and builds projects such as 
MyEquiCentre when the inspiration strikes.  
</h3>
</div>
