<div class="white-background">
<h1> About this Site </h1>
<h3>
I spent a great deal of time when I was younger searching 
the web for my very own horse and was greatly disappointed by the quality of 
horse classifieds online. So I created this site to be a place for horse owners and enthusiasts
to come and browse stunningly beautiful horse ads in search for the 
horse of their dreams. 
</h3>
<h3>
Since I've built this site as a side project, I really don't know what to expect.
I hope that you find that the interface I have provided is simple and elegant. 

</h3>
<h4>
Kachina Gosselin
</h4>
<h3>
Graduated from MIT class of 2010 with a bachelors in aeronautics and astronautics.
She runs a software development firm Daedalus Innovation, and builds projects such as 
MyEquiCentre when the inspiration strikes.  
</h3>
</div>
