<div class="general-content">
<h1> About this Site </h1>
<h3 style="padding-bottom:0px;">
Imagine a place you can visit online that serves as a central network for entire equine 
community. 
</h3>
<div class="about-list span10 offset1">
<li> A place where you can discover all the equine service professionals in your area</li>
<li> Read testimonials by past clients so that you know who you can trust</li>
<li> Meet horse enthusiasts and owners in your neighborhood</li>
<li> Have discussions with fellow boarders on a community site for your barn</li>
<li> Send last minute notifications about your horses feed, medications and turnout schedule to the stable hands</li>
<li> Get notified when you need to call the farrier, worm your horse, and other regular appointments</li>
<li> Learn about upcoming events and shows specific to your area or your discipline</li>
<li> A place to find a good home for your horse when you need to sell </li>
<li> Have unlimited photo and video ads at no additonal cost, pay for a one-time 
professional confirmation critiques</li>
<li> A place to go to find high quality sport horses </li>
<li> Make informed decisions with access to competition records and pedigrees</li>
</div>
</br>
<div class="span11">
<h3 style="text-align:center;padding-bottom:0px;">This is my vision for myEquiCentre. What is yours? </h3>

<h3 style="text-align:center;padding-bottom:0px;">Together we can make it happen.</h3>
</div>
<div class="row">
<div class="span4">
<div class="profile-image" style="margin-top: -50px;">
    <%= image_tag("/images/about_profile.png", :alt => "", :style => "height:275px;", :class => "img-circle")%>
</div>
</div>
<div class="span7" style="margin-top:0px;">
<h4>
Kachina Gosselin
</h4>
<h3>
CEO and CTO, Kachina graduated from MIT class of 2010 with a bachelors in aeronautics and astronautics.
She also runs a software development firm, Daedalus Innovation, building applications for web startups.
</h3>
</div>
</div>
</div>
</div>
