
<div class='how-it-works'>
<div class='span12'>
<%= image_tag("/images/dressage_horse.jpeg", :alt => "")%>

<div class='span7'>
<div class='text-box'>
<h1>Learn about Us</h1>
</div>
</div>

<!--
<div class='span6 offset6'>
<div class='caption'>
<div class='text-box'>
    <h4>Our Promise</h4>
    <p>
    There isn't a more beautiful, professional site out there to post your horse classified
    ads.
    </p>
    <p>
    See for yourself - 
    <%= link_to 'browse our site', '/horses/search?utf8=✓&search=&commit=Search' %>
    </p>
    <p>
    Or join right now!
    </p>
    <div class='join'>
    <a href="/" class="btn-large btn-primary"> Sign Up (it's free*)</a>
    </div>
</div>
</div>
</div>
-->

</div>
</div>

<div class='row'>
<div class='span12'>
<div class="white-background">
<h2>For Those Looking To Buy</h2>
<h3>
You can browse our site for horses by breed, gender, height and age. Searching is free and
does not require an account. However if you would like to be able to save your favorite horses 
sign up for an account - it cost nothing and gives you access to advanced features as 
they are developed.
</h3>

<h2>For Those Looking To Sell</h2>
<h3>
If you are looking to sell your horses using MyEquiCentre you need to sign up for a free
account. You will be redirected to your own private dashboard where you can create your own
horse listings. When listings are initially created they are inactive and you have to enter
your credit card information and pay for the listing before it can be activated. We only ask
for your billing info once and we don't store the information on our site. For more details, 
check out our privacy policy.
</h3>

<h3>
Once your listings are activated you can choose to promote your listing via Facebook, 
Twitter and Pinterest. If you want to enhance your listing by adding it to the slideshow
on the homepage please contact us for more details. In the meantime, sit back, relax and
let us do the hard work for you. Sign up for our newsletter to receive articles about 
promoting your listings and to get updates on the best horses and deals on the site.
</h3>

</div>
</div>
</div>