
<div class='how-it-works'>
<div class='span12'>
<%= image_tag("/images/carousel.jpg", :alt => "")%>

<div class='span7'>
<div class='text-box'>
<h1>Learn about Us</h1>
</div>
</div>

<div class='span6 offset6'>
<div class='caption'>
<div class='text-box'>
    <h4>Our Promise</h4>
    <p>
    There isn't a more beautiful, professional site out there to post your horse classified
    ads. We've created a great environment for buying and selling horses online.
    </p>
    <!--
    <p>
    See for yourself - 
    <%= link_to 'browse our site', '/horses/search?utf8=✓&search=&commit=Search' %>
    </p>
    <p>
    Or join right now!
    </p>
    -->
    <div class='join'>
    <a href="/" class="btn-large btn-primary"> Sign Up (it's free*)</a>
    </div>
</div>
</div>
</div>

</div>
</div>

<div class='row'>
<div class='span12'>
<div class="white-background">
<h1> How it Works </h1>
<h3>

</h3>

<h3>
If you are looking to sell your horses using MyEquiCentre you need to sign up for a free
account. You will be redirected to your own private dashboard where you can create your own
horse listings. When listings are initially created they are inactive and you have to enter
your credit card information and pay for the listing before it can be activated.
</h3>

<h3>
Once your account is activated 
</h3>

</div>
</div>
</div>