<div class="white-background">
<div class='row-fluid' id='overview'>
<div class='span12'>
<p>
At MyEquiCentre we are looking for young passionate and talented people 
with fresh ideas and a desire to disrupt to get involved in a brand new 
company getting of the ground. 
</p>
<p>
The equestrian industry has immense potential for innovation and 
we would love to have you start on this journey with us. Fame and 
fortune may await on the other side!
</p>
<p id='benefits'>
These are just some of the benefits you'd enjoy as part of our team:
</p>
</div>
</div>
<div class='row-fluid' id='perk-list'>
<div class='span2'>
&nbsp;
</div>
<div class='span4 clearfix'>
<ul class='unstyled column'>
<li>
<i class='icon-star-empty'></i>
Competitive salary & meaningful equity
</li>
<li>
<i class='icon-plus-sign'></i>
Medical, dental, & vision insurance
</li>
<li>
<i class='icon-leaf'></i>
Breakfast, lunch & snacks
</li>
<li>
<li>
<i class='icon-heart'></i>
Voluntary yoga and meditation</li>
</ul>
</div>
<div class='span4 clearfix'>
<ul class='unstyled column'>
<li>
<i class='icon-headphones'></i>
Build your ideal work environment
</li>
<li>
<i class='icon-time'></i>
Flexible work hours
</li>
<li>
<i class='icon-plane'></i>
Flexible location requirements
</li>
<li>
<i class='icon-refresh'></i>
Massages in the office
</li>
</ul>
</div>
</div>

<div class='row-fluid' id='product'>
<h1>Open Positions</h1>
</div>
<div class='row-fluid'>
<div class='span12'>
<div class='job' id='engineer'>
<h2>Software Engineer</h2>
<p>
We&rsquo;re looking for generalist software engineers who are excited about
travel, technology, and the prospect of improving the world by enabling global
entrepreneurship. You&rsquo;ll work closely with the founders on every part of
the site, deploy daily, iterate quickly, and measure absolutely everything.
</p>
<p>
We don&rsquo;t believe in breaking down engineering roles into
&ldquo;front-end&rdquo; or &ldquo;back-end&rdquo; distinctions &mdash; if
you&rsquo;re working on the website, you&rsquo;ll be expected to know (or learn)
whatever it takes to get the job done. It's probably best if you&rsquo;re
familiar with Ruby, Python or another dynamic language (we use Ruby/Rails),
as well as HTML, CSS, Javascript, and other core technologies of the web.
But...we&rsquo;re a startup, so being self-motivated and independent is
probably more important than any particular technology on your resume.
</p>
<h3>Requirements:</h3>
<ul>
<li>A strong programming background.</li>
<li>
Demonstrated expertise in at least one programming
language (and preferably many).
</li>
<li>
Mastery of basic computer science concepts, such as
data structures and algorithmic complexity.
</li>
<li>You know how the web works, at least from HTTP to HTML.</li>
<li>Experience shipping real products.</li>
<li>You can get things done.</li>
</ul>
<p>
To apply, send a resume to <a href="mailto:jobs+engineering@MyEquiCentre.com">jobs+engineering@MyEquiCentre.com</a>.
<br>
(things like GitHub profiles, open-source projects and links to
sites you&rsquo;ve created are great, too.)
</br>
</p>
<a class="btn btn-info" href="mailto:jobs+engineering@MyEquiCentre.com">Apply Now</a>
</div>
</div>
</div>
<div class='row-fluid'>
<div class='span12'>
<div class='job' id='designer'>
<h2>UI/Product Designer</h2>
<p>
We&rsquo;re looking for a talented UI/Product designer to join our
team. Not only do you care that the product interface is stunningly
beautiful, but also that it’s so easy and intuitive that our users
never have to think about how to get from point A to point B.
You worship simplicity and always put the user at the center of
your design.  You’ve cultivated a strong personal aesthetic that
you want to develop, while directly changing the lives of people from
all walks of life with your design.
</p>
<h3>You&rsquo;re good at and enjoy:</h3>
<ul>
<li>Crafting a visual narrative of a product</li>
<li>Beautifying and enhancing interactions</li>
<li>Creating user- and analytics-driven designs</li>
<li>UX storyboarding and prototyping</li>
<li>Developing style guides</li>
<li>Being a customer advocate</li>
<li>Pixel perfection</li>
</ul>
<h3>Requirements:</h3>
<ul>
<li>Prior experience in web and consumer product design</li>
<li>
A strong portfolio across skill sets: graphics, typography,
photography, interaction
</li>
<li>
Familiarity with front-end web development: HTML/CSS/JQuery
</li>
<li>BFA/MFA or comparable work experience</li>
<li>Strong references</li>
</ul>
<p>
To apply, send a resume and portfolio to <a href="mailto:jobs+designer@MyEquiCentre.com">jobs+designer@MyEquiCentre.com</a>.
</p>
<a class="btn btn-large btn-info" href="mailto:jobs+designer@MyEquiCentre.com">Apply Now</a>
</div>
</div>
</div>
<div class='row-fluid'>
<div class='span12'>
<div class='job' id='operations'>
<h2>Operations Manager</h2>
<p>
MyEquiCentre is looking for talented Operations Manager to be responsible
for creating, building and growing acquisition and retention strategies
that connect travelers and guides together on MyEquiCentre. This is an
amazing opportunity to get in on the ground floor of a fast-growing
Silicon Valley Startup and to take on an integral role in the marketing
and growth of the business.
</p>
<p>
This position is a unique opportunity to lead company operations and
working alongside the CEO to craft high-leverage and scalable
solutions that enable the most people to connect on our platform.
</p>
<p>
The ideal candidate is quantitative and analytical with a strong
business background, is motivated, detail-oriented, and excited to
bring large numbers of people together on our platform. You must
also be strategic as well as tactical in your approach toward the
business and share a deep passion for the product and community.
</p>
<h3>You&rsquo;re good at and enjoy:</h3>
<ul>
<li>Building, managing and optimizing effective marketing strategies</li>
<li>Organization. It’s your middle name.</li>
<li>Developing and facilitating growth initiatives</li>
<li>Developing and implementing data-driven strategies</li>
<li>Working in a dynamic startup environment</li>
<li>Setting and exceeding aggressive goals</li>
<li>Identifying and building strategic partnerships</li>
</ul>
<h3>Requirements:</h3>
<ul>
<li>2-5 years of tactical operations or marketing management experience</li>
<li>Experience building models and funnels</li>
<li>Self-starter with excellent collaboration and leadership skills</li>
<li>Ability to direct and empower a team</li>
<li>Excellent written and verbal communication skills</li>
<li>Strong knowledge of SEO and SEM</li>
<li>Experience with online marketing and measuring ROI</li>
<li>Strong entrepreneurial background and proven track record</li>
</ul>
<p>
To apply, send a resume and cover letter to <a href="mailto:jobs@MyEquiCentre.com">jobs@MyEquiCentre.com</a>.
</p>
<a class="btn btn-large btn-info" href="mailto:jobs@MyEquiCentre.com">Apply Now</a>
</div>
</div>
</div>
<div class='row-fluid' id='internships'>
<h1>Internships</h1>
</div>
<div class='row-fluid'>
<div class='span12'>
<div class='job' id='marketing-intern'>
<h2>Marketing and outreach Intern</h2>
<p>
An amazing opportunity for anyone looking to get in on the ground floor of a
fast-growing travel startup. You will be responsible for delivering a high-quality experience to
customers wanting help with their travel plans and working with the team to implement
marketing initiatives (both online and offline). You have a get-it-done attitude,
are detail and process-oriented and very resourceful.  You must be scrappy, passionate
about the product, and excited to live and breathe MyEquiCentre.
</p>
<h3>You&rsquo;re good at and enjoy:</h3>
<ul>
<li>Communicating complex ideas succinctly</li>
<li>Marketing and sales: getting people on board is in your blood</li>
<li>Organization. It&rsquo;s your middle name.</li>
<li>Research and travel logistics</li>
<li>Going the extra mile to make people smile</li>
<li>You&rsquo;re not afraid to get your hands dirty</li>
<li>You stay cool when plans change on the fly</li>
</ul>
<h3>Requirements:</h3>
<ul>
<li>Travel planning experience</li>
<li>Background in research</li>
<li>Marketing or PR</li>
<li>Hospitality and or sales experience a plus</li>
<li>
Bachelor&rsquo;s degree preferred; work experience
can substitute for the degree.
</li>
</ul>
<p>
Send a resume to <a href="mailto:internships+marketing@MyEquiCentre.com">internships+marketing@MyEquiCentre.com</a> to apply.
</p>
<a class="btn btn-large btn-info" href="mailto:internships+marketing@MyEquiCentre.com">Apply Now</a>
</div>
</div>
</div>
<div class='row-fluid'>
<div class='span12'>
<div class='job' id='sales-intern'>
<h2>Sales Intern</h2>
<p>
An amazing opportunity for anyone looking to get in on the ground
floor of a fast-growing travel startup. You will be responsible for
building our community and local partnerships.  You must be both
relentless and empathetic and be an expert in people. You must be
scrappy, passionate about the product, and excited to live and
breathe MyEquiCentre.
</p>
<h3>You&rsquo;re good at and enjoy:</h3>
<ul>
<li>Building relationships</li>
<li>Communicating in a clear and empathetic way</li>
<li>Organization. It&rsquo;s your middle name.</li>
<li>Building database of leads and chasing them</li>
<li>Going the extra mile to make people smile</li>
<li>You&rsquo;re not afraid to get your hands dirty</li>
<li>You stay cool when plans change on the fly</li>
</ul>
<h3>Requirements:</h3>
<ul>
<li>Prior sales or marketing experience</li>
<li>BA degree preferred; work experience can substitute for the degree.</li>
</ul>
<p>
Send a resume to <a href="mailto:internships+sales@MyEquiCentre.com">internships+sales@MyEquiCentre.com</a> to apply.
</p>
<a class="btn btn-large btn-info" href="mailto:internships+sales@MyEquiCentre.com">Apply Now</a>
</div>
</div>
</div>
<div class='row-fluid'>
<div class='span12'>
<div class='job' id='photography-intern'>
<h2>Photography Intern</h2>
<p>
Here’s your chance to get hands-on experience shooting photos that
capture the spirit and imagery MyEquiCentre. We’re looking for photographers
with an eye for detail and a knack for capturing emotion to tell the
story of the uniqueness of MyEquiCentre’s experiences. You will be
responsible for coordinating photo shoots with tour guides,
photographing experiences, editing photos and uploading them onto
the site.
</p>
<h3>You&rsquo;re good at and enjoy:</h3>
<ul>
<li>Documentary, editorial and travel styles of photography</li>
<li>Spending time with people and building community</li>
<li>You know how to make photos “pop.”</li>
<li>You’re a pro at going with the flow</li>
<li>Dependability. It’s what you’re known for.</li>
</ul>
<h3>Requirements:</h3>
<ul>
<li>Portfolio</li>
<li>BA or BFA degree preferred; work experience can substitute for the degree.</li>
</ul>
<p>
Send a resume to <a href="mailto:internships+photogaphy@MyEquiCentre.com">internships+photogaphy@MyEquiCentre.com</a> to apply.
</p>
<a class="btn btn-info" href="mailto:internships+photography@MyEquiCentre.com">Apply Now</a>
</div>
</div>
</div>
</div>

<div class='nav-panel'>
<div class='container'>
<h1>Jobs@EquiCentre</h1>
<div class='row'>
<div class='span4'>
<div class='job-link'>
<a href='#engineer'>Software Engineer</a>
</div>
</div>
<div class='span4'>
<div class='job-link'>
<a href='#designer'>UI/Product Designer</a>
</div>
</div>
<div class='span4'>
<div class='job-link'>
<a href='#operations'>Operations Manager</a>
</div>
</div>
</div>
<div class='row'>
<div class='span4'>
<div class='job-link'>
<a href='#internships'>Internships</a>
</div>
</div>
<div class='span4'>
<div class='job-link'>
<a href='#ambassadors'>Ambassadors</a>
</div>
</div>
<div class='span4'>
<div class='job-link'>
<a href='#benefits'>Life at Vayable</a>
</div>
</div>
</div>
</div>
</div>