<div class='white-background'>
<div id="subscription">
  <h1>Your Subscription</h1>
  <p>You have signed up for the <strong><%= @subscription.plan.name %></strong> plan, which costs <strong><%= number_to_currency @subscription.plan.price %></strong> per month per horse listing!</p>
</div>
</div>