/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

/*
.mask-images {
position: relative;
overflow: hidden;
height: 225px;
width: 247px;
top: 90px;
z-index: 1;
}
*/
.horse-controls {
width: 276px;
text-align:center;
position: relative;
top: -10px;
}

.marker-image{
float: left;
padding: 5px;
}

.marker-description{
padding-left: 0px;
}

.mask{
position:absolute;
top:0;
left:0;
z-index:10
}

.date #horse_dob_2i {
width: 108px;
}

.date #horse_dob_1i {
width: 108px;
}

.profile-image {
margin-left: 30px;
}

.search-labels {
padding-top: 10px;
padding-bottom: 5px;
z-index: -900;
}

.and-labels {
position: relative;
width:15px;
z-index: -900;
bottom: 0px;
left: 0px;
line-height: 0px;
}

.modal-header{
height: 60px;
}

.pill{
color: white;
background-color: #08C;
padding-top: 4px;
padding-bottom: -4px;
margin-top: 2px;
margin-bottom: 2px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
display: inline-block;
padding-right: 10px;
padding-left: 5px;
margin-right: 2px;
height: 22px;
}

.pill .close {
position: relative;
top: -2px;
left: 5px;
}

.show-profile-image {
height: 368px;
width: 452px;
display:block;
margin: 0 auto;
overflow: hidden;
border: none;
position: relative;
-webkit-box-shadow: 0px 1px 3px #424641;
-moz-box-shadow: 0px 1px 3px #424641;
box-shadow: 0px 1px 3px #424641;
}

.horse-slideshow .carousel-image{
height: 368px;
width: 452px;
background-color: #fff;
display:block;
margin: 0px 0px 0px 80px;
overflow: hidden;
border: none;
position: relative;
-webkit-box-shadow: 0px 1px 3px #424641;
-moz-box-shadow: 0px 1px 3px #424641;
box-shadow: 0px 1px 3px #424641;
}

.img-circle{
margin-bottom: 20px;
    border-radius: 50px;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 1);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 1);
}

.user-profile-image {
height: 224;
width: 275;
margin: 0px 0px 25px 0px;
overflow: hidden;
border: none;
position: relative;
-webkit-box-shadow: 0px 1px 3px #424641;
-moz-box-shadow: 0px 1px 3px #424641;
box-shadow: 0px 1px 3px #424641;
}

.smaller-profile-image {
height: 223px;
width: 275px;
margin: 0px 0px 25px 0px;
overflow: hidden;
border: none;
position: relative;
-webkit-box-shadow: 0px 1px 3px #424641;
-moz-box-shadow: 0px 1px 3px #424641;
box-shadow: 0px 1px 3px #424641;
}

.infobox {
position: relative;
padding: 10px;
margin: 16px 0px;
background-color: white;
box-shadow: none;
border: 1px solid #DDD;
min-height: 150px;
clear: both;
}

.infobox h3 {
font-family: "proxima-nova","Helvetica Neue","Helvetica","Arial","sans-serif";
color: grey;
font-size: 16px;
line-height: 20px;
font-weight: 300;
padding: 0px 40px 40px 40px;
}

.share {
width: 90%;
padding: 10px 10px 10px 10px;
height: 20px;
float: right;
}
/* MAIN PAGE ELEMENTS*/

li {
line-height: 20px;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.muted {
  color: #999;
}

.clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
  }
  &:after {
    clear: both;
  }
}

.dropdown {
position: relative;
}

.dropdown-menu {
list-style: none;
}

/* LINK ELEMENTS*/

.text-box a:link {
color: #fff;
text-decoration: none;
}

.text-box a:hover {
color: #fff;
text-decoration: none;
}

.text-box a:visited {
color: #fff;
text-decoration: none;
}

.general-content {
background-color: white;
padding: 40px;
}

.general-content h1 {
padding: 0px 10px 10px 10px;
font-weight: 300;
position: relative;
font-size: 36px;
text-align: center;
margin-bottom: 0px;
}

.general-content h2 {
font-family: "Helvetica Neue","Helvetica","Arial","sans-serif";
font-size: 24px;
font-weight: 300;
text-align: center;
margin-bottom: 0px;
padding: 0px 20px 30px 20px;
}

.general-content h3 {
font-family: "proxima-nova","Helvetica Neue","Helvetica","Arial","sans-serif";
color: grey;
font-size: 18px;
line-height: 24px;
font-weight: 300;
padding: 0px 20px 30px 20px;
}

/* STATIC PAGE ELEMENTS*/
.white-background {
-webkit-box-shadow: 0px 1px 3px #424641;
-moz-box-shadow: 0px 1px 3px #424641;
box-shadow: 0px 1px 3px #424641;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
background-color: white;
padding: 40px;
margin-top: 20px;
}

.white-background-narrow {
-webkit-box-shadow: 0px 1px 3px #424641;
-moz-box-shadow: 0px 1px 3px #424641;
box-shadow: 0px 1px 3px #424641;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
background-color: white;
padding: 10px;
margin-top: 10px;
}

.white-background-form {
-webkit-box-shadow: 0px 1px 3px #424641;
-moz-box-shadow: 0px 1px 3px #424641;
box-shadow: 0px 1px 3px #424641;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
background-color: white;
padding: 20px;
margin-top: 10px;
}

.white-background h1 {
padding: 0px 10px 10px 10px;
font-weight: 300;
position: relative;
font-size: 36px;
text-align: center;
margin-bottom: 0px;
}

.white-background h2 {
font-family: "Helvetica Neue","Helvetica","Arial","sans-serif";
font-size: 24px;
font-weight: 300;
text-align: center;
margin-bottom: 0px;
padding: 0px 20px 30px 20px;
}

.white-background h3 {
font-family: "proxima-nova","Helvetica Neue","Helvetica","Arial","sans-serif";
color: grey;
font-size: 18px;
line-height: 24px;
font-weight: 300;
padding: 0px 20px 30px 20px;
}

.center-align{
text-align:center
}

.inner {
opacity: 0.9;
height: 645px;
width: 247px;
margin-right: 1px;
position: relative;
background-color: #F2F2F2;
border: 2px solid white;
border-bottom: none;
box-shadow: 1px 1px 8px gray;
}

.ad-sidebar {
margin: 10px 10 0 5px;
position: relative;
overflow: visible;
margin-right: 14px;
}

.ad {
background-color: #F2F2F2;
border: 1px solid white;
padding: 10px 15px 10px 10px;
margin: 0 20px 0 4px;
box-shadow: 1px 1px 5px gray;
}

.displayprice {
width: 272px;
height: 51px;
line-height: 49px;
position: absolute;
left: -15px;
text-align: center;
font-size: 20px;
top: 400px;
font-family: "museo-slab-1","museo-slab-2","Museo","Archer","Rockwell","Georgia","Palatino","serif";
}

.displayprice .display {
margin-top: -200px;
background-image: url("/images/display.png");
background-repeat: no-repeat;
}

.point {
background-image: url("/images/right-banner-bottom.png");
background-repeat: no-repeat;
width: 250px;
height: 50px;
position: relative;
top: 0;
bottom: -47px;
text-align: center;
}

/*FOOTER ELEMENTS*/
.press {
margin-top: 20px;
margin-bottom: 30px;
}

.footer-wrapper {
  background-color: #26729e;
  height: 100%;
}

.footer_links {
margin-bottom: 50px;
}

/*
.footer_links a:link {
color: #fff;
text-decoration: none;
}

.footer_links a:visited {
color: #fff;
text-decoration: none;
}
*/

.form-search{
margin-top: 5px;
}

/*MISC ELEMENTS*/

.nav-list.static li {
padding: 12px 6px;
border-bottom: 1px solid #2C2C2C;
color: #424641;
}

.nav-list.static li:last-child {
border-bottom: 0;
}

/*DIVIDERS*/
.divider-vertical {
height: 42px;
width: 1px;
margin: 0 5px;
overflow: hidden;
background-color: gainsboro;
border-right: 1px solid white;
}

.divider-horizontal {
height: 1px;
width: 100%;
margin: 0px 0px 10px 0px;
overflow: hidden;
background-color: gainsboro;
border-right: 1px solid white;
}

.about-list li {
font-family: "proxima-nova","Helvetica Neue","Helvetica","Arial","sans-serif";
color: grey;
font-size: 15px;
line-height: 20px;
font-weight: 300;
padding: 0px 0px 8px 0px;
}