// Place all the styles related to the Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Sidenav for Inbox
-------------------------------------------------- */

.messages-sidenav {
  margin: 30px 0 0;
  padding: 0;
  background-color: #fff;
}

.messages-sidenav .nav-list{
padding-left: 15px;
padding-right: 15px;
margin-top: 52px;
margin-bottom: 0;
}

.messages-sidenav .nav-list > .active > a, .nav-list > .active > a:hover {
color: white;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
background-color: gainsboro;
}

.messages-sidenav ul{
margin: 0px 0px 0px 0px;
}

.messages-sidenav .compose {
margin: -10px 0px 10px 0px;
}

.messages-sidenav li > a {
  display: block;
  /*top right bottom left*/
  margin: -10px 0px 0px -1px;
  padding: 8px 14px;
  border: 0px solid #e5e5e5;
  font-size: 14px;
  text-decoration: none;
}


.messages-sidenav li > a:hover {
  color: #005580;
  text-decoration: none;
}

.messages-sidenav li > a {
  display: block;
  /*top right bottom left*/
  margin: -10px 0px 0px -1px;
  padding: 8px 14px;
  border: 0px solid #e5e5e5;
  font-size: 14px;
  text-decoration: none;
}


.messages-sidenav .active > a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
     -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
          box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}